#
# OpenSSL config to use PKCS11 engine
#

openssl_conf = openssl_engine

[openssl_engine]
engines=engine_section

[engine_section]
pkcs11 = pkcs11_section

[pkcs11_section]
engine_id = pkcs11
MODULE_PATH = /usr/lib/x86_64-linux-gnu/opensc-pkcs11.so
PIN=123456
init = 0

[req]
distinguished_name = req_distinguished_name

[req_distinguished_name]

